#ranking {
  overflow-y: scroll;

  .Panel__in {
    min-height: 0 !important;
    height: 100%;
  }

  .ranking-swiper {
    height: calc(100% - (61px + var(--safe-area-inset-top) + 48px));

    overflow-y: scroll;
  }

  .ranking-swiper::-webkit-scrollbar {
    display: none;
    width: 0px;
  }

  .user-wrapper {
    display: flex;
    align-items: center;

    .top-number {
      min-width: 25px;
      text-align: center;

      font-weight: bold;

      color: var(--header_tint);
    }

    .no-width {
      min-width: auto;
    }

    .SimpleCell {
      width: 100%;

      overflow: hidden;
    }

    &:not(:first-child):last-child {
      margin-bottom: 80px;
    }
  }

  .user-record {
    background-color: var(--background_content);
  }
}
